<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="upload-button">
            <form action="/" method="post" enctype="multipart/form-data">
                <label for="file-upload" class="custom-file-upload">
                    Upload Image
                </label>
                <input id="file-upload" type="file" name="file" onchange="this.form.submit()">
            </form>
        </div>

        <h1>Image Gallery</h1>

        <div class="gallery">
            {% for image in images if image!=".gitignore" %}
            <div class="image-item">
                <img src="{{ url_for('static', filename='uploads/' + image) }}" alt="{{ image }}" onclick="openModal(this)">
                <p>{{ image }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modal for zooming -->
    <div id="imageModal" class="modal" onclick="closeModal()">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="modalImage">
    </div>

    <script>
        function openModal(image) {
            var modal = document.getElementById("imageModal");
            var modalImg = document.getElementById("modalImage");
            modal.style.display = "block";
            modalImg.src = image.src;
        }

        function closeModal() {
            var modal = document.getElementById("imageModal");
            modal.style.display = "none";
        }
    </script>
</body>
</html>
